:root {
  --rad-1: 15deg;
  --rad-2: 240deg;
}

.App {
  text-align: center;
  position: relative;
}

.wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("./assests/galaxy.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App-link {
  color: #61dafb;
}
